<div>
  <div class="self-center items-center md:w-full">
    <div class="w-4/5 text-center mx-auto">
      <img class="w-full h-auto max-h-[25vh] sm:max-h-[25vh] md:max-h-[32vh] rounded-lg" src="{{ env.baseUrl }}img/logo.svg"/>
      <div class="justify-center items-center text-2xl md:text-3xl my-16">
        PyCon India is the premier conference for Python enthusiasts and professionals, offering an unparalleled opportunity to
        dive deep into the world of Python and explore its limitless potential. Stay tuned for updates!
      </div>
      <div class="flex flex-col md:flex-row justify-center items-center gap-8 md:space-x-16 space-y-8 md:space-y-0 text-xl xl:text-2xl my-16">
        <div class="col-md-4 text-center">
          <p class="h4 sub-tit md:text-h4 font-semibold">12 September</p>
          <p class="h4 sub-tit md:text-h4">Workshops</p>
          <p class="h4 sub-tit md:text-h4 font-extralight italic">To Be Announced</p>
        </div>
        <div class="col-md-4 text-center">
          <p class="h4 sub-tit md:text-h4 font-semibold">13 September - 14 September</p>
          <p class="h4 sub-tit md:text-h4">Conference</p>
          <a href="{{ env.baseUrl }}venue"><p class="h4 sub-tit md:text-h4 cursor-pointer underline">NIMHANS Convention Centre, Bengaluru</p></a>
        </div>
        <div class="col-md-4 text-center">
          <p class="h4 sub-tit md:text-h4 font-semibold">15 September</p>
          <p class="h4 sub-tit md:text-h4">Developer Sprints</p>
          <p class="h4 sub-tit md:text-h4 font-extralight italic">To Be Announced</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center gap-4">
    <!-- Buy Tickets Link -->
     <a href="{{ env.baseUrl }}tickets" class="inline-block">
      <button class="bg-orange-500 text-white font-semibold py-3 px-6 rounded transition-transform transform hover:scale-105
          active:scale-95 focus:outline-none focus:ring-2 focus:ring-green-500">
        Buy Tickets
      </button>
    </a>
    <!-- Submit CFP Button Link-->
     <a href="{{ env.baseUrl }}cfp" class="inline-block">
      <button class="bg-orange-500 text-white font-semibold py-3 px-6 rounded transition-transform transform hover:scale-105
          active:scale-95 focus:outline-none focus:ring-2 focus:ring-green-500">
        Call for Proposals
      </button>
      </a>
    <!-- Volunteer Button Link -->
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdX2LEom11BbWDiLUiQp1rmeNX9l7J8bfszGidsRDoExy0D5A/viewform" class="inline-block">
        <button class="bg-orange-500 text-white font-semibold py-3 px-6 rounded transition-transform transform hover:scale-105
          active:scale-95 focus:outline-none focus:ring-2 focus:ring-green-500">
         Volunteer
        </button>
      </a>
    <!-- Sponsor Button Link <a href="/sponsor" class="inline-block"> <button class="bg-orange-500 text-white py-2 px-4
    rounded transition-transform transform hover:scale-105 active:scale-95 focus:outline-none focus:ring-2
    focus:ring-yellow-500">
        Sponsor
    </button> </a> -->
  </div>
  <div class="flex flex-col justify-center"></div>
  <div class="flex flex-col justify-center"></div>
</div>
