<div class="self-center items-center">
    <div class="w-full text-center">
      <img src="{{ env.baseUrl }}img/pycon_2025.svg">
      <br>
      <br>
      <h1 class="tracking-wide text-black-500 text-6xl mb-6">
      PyCon India 2025
      </h1>
      <h2 class="tracking-wide text-4xl mb-6">
      is back to Bengaluru
      </h2>
    </div>
  </div>

<div class="flex justify-center items-center space-x-4">
  <!-- Submit CFP Button Link -->
  <a href="/submit-cfp" class="inline-block">
    <button class="bg-orange-500 text-white py-2 px-4 rounded transition-transform transform hover:scale-105 active:scale-95 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Submit CFP
    </button>
  </a>

  <!-- Volunteer Button Link -->
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdX2LEom11BbWDiLUiQp1rmeNX9l7J8bfszGidsRDoExy0D5A/viewform" class="inline-block">
    <button class="bg-orange-500 text-white py-2 px-4 rounded transition-transform transform hover:scale-105 active:scale-95 focus:outline-none focus:ring-2 focus:ring-green-500">
      Volunteer
    </button>
  </a>

  <!-- Sponsor Button Link -->
  <a href="/sponsor" class="inline-block">
    <button class="bg-orange-500 text-white py-2 px-4 rounded transition-transform transform hover:scale-105 active:scale-95 focus:outline-none focus:ring-2 focus:ring-yellow-500">
      Sponsor
    </button>
  </a>
</div>


<div class="flex flex-col justify-center">
  
</div>
<div class="flex flex-col justify-center">
  
</div>
<div class="flex flex-col justify-center">
  
</div>
