{% macro button(text, url, lime_bg=false, env = env) %}
    {% if lime_bg %}
        {% set bg_class = "bg-pycon-lime hover:bg-pycon-lime/90" %}
        {% set text_class = "text-black" %}
    {% else %}
        {% set bg_class = "bg-transparent border-pycon-lime" %}
        {% set text_class = "text-pycon-lime" %}
    {% endif %}

    <a href="{{ url }}" class="group no-underline inline-flex items-center gap-2 px-4 py-2 {{ bg_class }} rounded-full border border-black hover:-translate-y-0.5 hover:shadow-md transition-all duration-300 focus:outline-2 focus:outline-offset-2">
        <span class="font-['Acid_Grotesk'] text-lg {{ text_class }} leading-relaxed whitespace-nowrap group-hover:-translate-x-1 transition-transform duration-200">
            {{ text }}
        </span>
        <div class="flex justify-center items-center w-8 h-8 bg-white rounded-full border border-black group-hover:rotate-40 transition-transform duration-300">
            <img src="{{ env.baseUrl }}img/assets/arrow-vector.svg" alt="Arrow" class="w-4 h-3 group-hover:scale-110 transition-transform duration-300" />
        </div>
    </a>
{% endmacro %}
