{% macro card(width, height, bg="lime") %}
<div class="relative group" style="width: {{ width }}px; height: {{ height }}px;">
    <!-- Background Div -->
    <div class="absolute top-0 left-0 
        {{ 'bg-[#CD89FF]' if bg == "purple" else 'bg-[#B0E065]' }}
        w-full h-full border-black border-2 duration-300 group-hover:translate-y-[-2px] group-hover:translate-x-[-2px]">
    </div>

    <!-- Main Card -->
    <div class="absolute top-[12px] left-[12px] w-full h-full bg-[#FFFFFF] border-black border-2 items-center justify-center duration-300 group-hover:translate-y-[4px] group-hover:translate-x-[4px]">
        {% if caller %}
            {{ caller() }}
        {% else %}
            <div class="flex flex-col items-center justify-center h-full text-center">
                <h2 class="text-lg sm:text-xl font-semibold">{{ title }}</h2>
                <p class="mt-2 text-sm sm:text-base">{{ description }}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}