{% macro cube(dimen, bg="lime") %}
{% set resolved_bg = "#D7FF7B" if bg == "lime" else ("#CD89FF" if bg == "purple" else bg) %}
<div class="cube-container" style="width: {{ dimen }}px; height: {{ dimen }}px; perspective: 8000px;">
    <div class="cube" style="width: {{ dimen }}px; height: {{ dimen }}px; position: relative; transform-style: preserve-3d; transform: rotateX(-20deg) rotateY(0deg);">
        
        <!-- Front Face -->
        <div class="face front" style="position: absolute; width: 100%; height: 100%; background-color: {{ resolved_bg }}; border: 2px solid black; transform: translateX(41px) translateZ({{ dimen / 2 }}px) skewX(0deg);">
            {% if caller %}
                {{ caller() }}
            {% endif %}
        </div>
        
        <!-- Back Face -->
        <div class="face back" style="position: absolute; width: 100%; height: 100%; background-color: white; border: 2px solid black; border-bottom: none; transform: translateX(-41px) translateZ(-{{ dimen / 2 }}px) skewX(-0.5deg);">
            {# Back face #}
        </div>
        
        <!-- Top Face -->
        <div class="face top" style="position: absolute; width: 100%; height: 100%; background-color: white; border: 3px solid black; transform: rotateX(90deg) translateZ({{ dimen / 2 }}px) skewX(22deg);">
            {# Top face #}
        </div>
        
        <!-- Bottom Face -->
        <div class="face bottom" style="position: absolute; width: 100%; height: 100%; background-color: white; border: 3px solid black; border-bottom: none; transform: rotateX(-90deg) translateZ({{ dimen / 2 }}px) skewX(-23deg);">
            {# Bottom face #}
        </div>
        
        {# <!-- Left Face -->
        <div class="face left" style="position: absolute; width: 100%; height: 100%; background-color: white; border: 2px solid black; transform: rotateY(-90deg) translateZ({{ dimen / 2 }}px) translateX(-40px);">
            Left face
        </div>
        
        <!-- Right Face -->
        <div class="face right" style="position: absolute; width: 100%; height: 100%; background-color: white; border: 2px solid black; transform: rotateY(90deg) translateZ({{ dimen / 2 }}px) translateX(40px);">
            Right face
        </div> #}
    </div>
</div>
{% endmacro %}