---
title: Call for Proposal - PyCon India 2025
description: Call For Proposals
layout: base.njk
---
{% from "components/button.njk" import button %}
{% from "components/card.njk" import card %}

<header>
    {% set activePage = 'program' %} 
</header>

<div class="w-full h-auto -mb-20 bg-[#4E62F5]">
    <div class="pt-[200px] mx-[5%] md:mx-[145px]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Proposal Guidelines
        </div>

<div class="absolute top-1/5 right-4 md:block">
            <img src="/img/assets/book-stars.svg" alt="Groovy star" class="md:w-[25vw] md:h-[25vw] w-[50vw] h-[50vw]">
          </div>


        <div class="absolute md:top-3/4 pt-52 md:right-20 right-12 md:block">
            <img src="/img/assets/star-purple-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-8 lg:justify-between">
            <div class="space-grotesk-regular font-medium text-xl lg:text-sm xl:text-2xl md:text-2xl pt-8 text-[#FFFFFF] text-center lg:text-left">
                <p>Join us for the 16th edition of PyCon India, the premier Python conference in India, scheduled for September 12-15, 2025, in Bengaluru.</p>
                <p>Whether you use Python professionally, as a hobby, or are simply passionate about Python and its community, we'd love to hear from you and invite you to submit proposals for Talks and Workshops. </p>
                <p>Venues: To be Announced </p>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>
</div>

<div class="w-full bg-[#F0EEFF]">
    <div class="pt-[100px] mx-[5%] md:mx-[145px] md:pt-44">
        <div class="black-han-sans-regular pt-32 lg:pt-20 xl:pt-32 md:pt-56 md:text-center font-normal text-3xl md:text-5xl text-[#000000] text-center lg:text-left">
            <p>Timelines</p>
        </div>

        <div class="pt-32 w-full lg:w-2/3 xl:w-1/2 text-justify pb-40">
            <p class="p-4 font-normal text-lg md:text-xl space-grotesk-regular leading-8">
                
                    <ul class="list-disc pl-0">
                <li>
                    <span class="font-medium">Submission Open:</span> 20 February 2025
                </li>
                <li>
                    <span class="font-medium">Submission Deadline:</span> 18 May 2025
                </li>
                <li>
                    <span class="font-medium">Schedule Announcement:</span> 7 July 2025
                </li>
                <li>
                    <span class="font-medium">Workshops:</span> 12 September 2025
                </li>
                <li>
                    <span class="font-medium">Talk Presentations:</span> 13-14 September 2025
                </li>
                <li>
                    <span class="font-medium">DevSprint:</span> 15 September 2025 *(Details to follow)*
                </li>
            </ul>
            </p>


<!-- Converted the markdown text into an HTML paragraph -->
<div class="raw-text-markdown">

    <pre><code>
## Session Types

**Talks**

• Technical Talks are 30-minute sessions (25 min talk + 5 min Q&A)
• Cover any Python-related topic and share valuable insights
• Share real-world experiences, new ideas, and best practices in Python
• Discuss challenges, solutions, and contributions to the Python ecosystem
• Provide practical knowledge, innovative approaches, or industry trends
• Refer to the submission categories for more details

**Workshops**

• Workshops are 3-hour hands-on sessions for interactive learning
• Focus on practical implementation and guide participants through real-world applications
• Include live coding, exercises, and problem-solving to enhance learning
• Cover tools, frameworks, best practices, or advanced techniques in Python
• Encourage collaboration, experimentation, and active participation
• Refer to the submission categories for more details


## Categories

**Python Core & Performance**

• Fundamental Python concepts like language runtime, AST, standard library, new features, documentation, and concurrency primitives like multithreading
• Deep dive into Python internals, GIL optimization, and memory management
• Performance improvements using Cython, PyPy, JIT compilers, and async programming

**AI, ML & Data Science**

• Generative AI, LLMs, multimodal AI, and reinforcement learning.
• ETL, Real-time analytics, and business intelligence.
• Applications of AI in automation, NLP, and computer vision.

**Python for Cloud, DevOps & Infrastructure**

• Cloud native applications with AWS, GCP, and Azure.
• Kubernetes, Terraform, and Infrastructure as Code (IaC).
• CI/CD automation, serverless computing, and Python in platform engineering.

**Web, Desktop & Full-Stack Development**

• Building APIs & web applications using gRPC, FastAPI, Django, and Flask, etc.
• Desktop App Development – GUI frameworks like PyQt, Tkinter, and Kivy for cross-platform apps.

**Python for Hardware, Edge Computing & IoT**

• MicroPython, CircuitPython, and real-time embedded systems
• Robotics, automation, and IoT applications with Raspberry Pi, ESP32, etc.
• Optimizing Python for low-power hardware

**Python in Research & Education**

• High-performance computing in physics, chemistry, and climate modeling
• Python in medical research: drug discovery, medical imaging, and bioinformatics
• Educational Applications

**Community**

• Cultural Aspects & Societal Influence – Exploring how Python impacts diversity, health, education, productivity, and workspaces
• Ethical Considerations in Technology – Examining government policies, responsible AI, privacy concerns, and mitigating biases in tech
• Career Growth, Mentorship & Developer Well-Being – Work-life balance, mental health in tech, productivity strategies, mentorship, career growth, and leadership development
• Building and maintaining Python user groups and meetups

**Others**

• Emerging Tech – Quantum computing, blockchain, and Python in metaverse applications
• Python's role in sustainability & green computing – Energy-efficient programming
• Python in FinTech & Algorithmic Trading – DeFi, automated trading, and risk analysis
• Developer Tools – Enhancing productivity with Python-based IDEs, debugging tools, automation frameworks, and package management solutions
• And everything else not explicitly covered in the other categories

## Submission Guidelines

- **Originality**: Proposals must be original and not previously presented at PyCon India.
- **Diversity**: We encourage submissions from individuals of all backgrounds, including those from underrepresented groups in technology.
- **Multiple Submissions**: Speakers may submit multiple proposals; however, each proposal should be distinct.
- **Language**: All proposals must be submitted in English.
- **Reference**: Review the [proposals from last year](https://in.pycon.org/cfp/2024/proposals/) for inspiration and guidance.

## Review Process

- **Initial Screening**: Proposals will be reviewed for completeness and adherence to guidelines.
- **Internal Review**: A panel of experts will evaluate proposals based on relevance, clarity, and impact.
- **External Review**: Selected proposals will undergo further evaluation by external reviewers.
- **Final Selection**: Shortlisted speakers will be invited for rehearsal sessions before finalizing the schedule.

## Rehearsals

- Shortlisted speakers are expected to participate in rehearsal sessions via teleconferencing. This process ensures that talks are well-prepared and fit within the allotted time.

## Code of Conduct

- All participants must adhere to the [PyCon India Code of Conduct]({{ env.baseUrl }}coc), ensuring a welcoming and inclusive environment for everyone.

</code></pre>
</div>




<div class="bg-[#4E62F5] text-[#FFFFFF] rounded-lg shadow-md p-8 md:p-12 lg:p-16 xl:p-20 mx-auto mb-8">
    <h3 class="text-2xl font-bold mb-4">Proposal Guidelines</h3>
    <ul class="list-disc pl-0 mb-8">
        <li>Submissions can be for Talks (30 minutes) or Workshops (3 hours).</li>
        <li>Please review our <a href="/guidelines" target="_blank" rel="noopener noreferrer">Proposal Guidelines</a> before submitting your proposal.</li>
        <li>For any questions regarding the CFP process, please email <a href="mailto:cfp@in.pycon.org">cfp@in.pycon.org</a>.</li>
    </ul>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Submit Your Proposal
    </button>
</div>

        </div>

        <div class="hidden md:block pt-40 xl:pt-32 w-full justify-center pl-12 md:pl-4 xl:pl-36">
            <img src="/img/assets/auto.svg" alt="Auto" class="h-24 md:h-44">
        </div>
    </div>
</div>