---
title: Code Of Conduct - Guildelines
description: PyCon India 2025 CoC Guidelines 
layout: base.njk
---

<div class="w-full h-auto bg-pycon-blue -mb-24 px-[6%] flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Code Of Conduct
        </div>
        <div class="text-md lg:text-xl pt-12 text-[#FFFFFF] lg:pr-10 text-justify">
            <p>Check out our Code of Conduct (CoC) Transparency Report <a href="https://drive.google.com/file/d/1oKzasX6DPaxmUXKE5LbtRK3Kcs4epyqH/view?pli=1" target="_blank" rel="noopener noreferrer" class="underline">here</a> for insights into how we uphold community standards at PyCon India. Transparency and accountability are central to maintaining a positive environment. Your feedback is invaluable in our continuous improvement efforts.</p>
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-60 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/notepad.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
        <img src="{{ env.baseUrl }}img/assets/book-stars.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>


<div class="main-container pt-16 md:pt-48 bg-[#FFFFFF] w-full h-auto px-[6%]">
    <div class="pb-40 md:pb-60 lg:pb-[20%] w-full text-justify lg:w-[70%]">
        <div class="mt-24 md:-mt-32 lg:-mt-20 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>The Short Form</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <p class="pb-4">
                    We invite you to come to PyCon India 2025 in a spirit of curiosity, friendliness, open-mindedness, and respect. 
                    We will not tolerate harassment in any form.
                </p>
                <p class="pb-4">At the PyCon India venue and related online forums, you agree to:</p>
                <p class="pb-4 font-semibold">Note:</p>
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Be kind and sensitive to the people around you and respect the boundaries of other attendees.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Attempt to resolve differences of opinion peacefully.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>
                            Avoid harassment, exclusionary or offensive behaviour of any kind. This includes but is not limited to
                            offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body
                            size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following,
                            harassing photography or recording, sustained disruption of talks or other events, inappropriate
                            physical contact, and unwelcome sexual attention.
                        </span>
                    </li>
                </ul>
                <p class="pt-4">
                    Violations can be reported online by sending a mail to <a href="mailto:coc@in.pycon.org" target="_blank" rel="noopener noreferrer" class="underline">coc@in.pycon.org</a>, or to PyCon India volunteers at the venue.
                </p>
                <p class="pb-2">
                    If a participant engages in behaviour that violates this Code of Conduct, the Code of Conduct team may take any action they deem appropriate, including warning the offender or expulsion from the community and community events with no refund of event tickets. 
                    Please read on for a more detailed version of the Code of Conduct below.
                </p>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>The Long Form</p>
            </div>
            <div class="pt-8">
                <div class="pt-8">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Aim</p>
                    <p class="pt-4 text-md">
                        PyCon India is a community organised conference intended for advocating the use and adoption of the Python programming language in India. 
                    </p>
                    <p class="pt-2 text-md">
                        It is also a platform for fostering networking and collaboration among the Python developer community in India.
                    </p>
                    <p class="pt-2 text-md">
                        We believe in the broad spectrum of individual and collective experience and in the inherent dignity of all people. 
                    </p>
                    <p class="pt-2 text-md">
                        We believe that amazing things happen when people from different worlds and world-views approach each other to create a conversation.
                    </p>
                    <p class="pt-2 text-md">
                        PyCon India 2025 welcomes everyone and is dedicated to providing a harassment-free conference experience for everyone, regardless of age, gender, sexual orientation, physical appearance, disability, neurotype, race, religion, political opinion, culture or employment. We don't tolerate harassment of attendees in any form.
                    </p>
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Where</p>
                    <p class="pt-4 text-md">
                        This Code of Conduct applies to the venue of PyCon India 2025 Conference, pre-event & post-event informal gatherings, related online forums and all conference related events organised by PyCon India.
                    </p>
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Who</p>
                    <p class="pt-4 text-md">
                        This is applicable to speakers, participants, sponsors, volunteers and organisers.
                    </p>
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Be The Best You Can Be</p>
                    <p class="pt-4 text-md">
                        This Code of Conduct applies to the venue of PyCon India 2025 Conference, pre-event & post-event informal gatherings, related online forums and all conference related events organised by PyCon India.
                    </p>
                    <ul class="list-none pt-4 space-y-4">
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Be kind, sensitive, understanding and respectful to other attendees.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Listen with empathy when someone has a different perspective.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Talk to the volunteers if you see something inappropriate or feel something is wrong.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>All communication should be appropriate for a professional audience, including people from many different backgrounds.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Do not insult or put down attendees or engage in any action that violates the open, welcoming and sharing spirit of the conference.</span>
                        </li>
                    </ul>
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Please Refrain From</p>
                    <ul class="pt-4 list-none space-y-4">
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Violent threats or language directed against another person.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Swearing, insults or discriminatory/exclusionary/offensive jokes or language.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Deliberate intimidation, stalking, following, harassing photography or recording.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Sustained disruption of talks or other events.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Using sexually explicit or violent material in presentations. Sexual language or imagery is inappropriate for all aspects of the conference, including talks and exhibits.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Unwelcome sexual attention or inappropriate physical contact.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Advocating for, or encouraging, any of the above behaviour.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Repeated harassment of others. In general, if someone asks you to stop, then stop.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Wearing sexualized clothing, uniforms, or costumes, or creating a sexualized environment.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>Demeaning others or failing to maintain a polite and respectful tone when interacting with attendees.</span>
                        </li>
                    </ul>
                    <p class="pt-2 text-md">
                        We have zero tolerance on harassment of conference participants in any form, including, but not limited to the activities mentioned here.
                    </p>
                    <p class="pt-2 text-md">
                        Participants asked to stop any harassing behaviour are expected to comply immediately.
                    </p>    
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Reporting</p>
                    <p class="pt-4 text-md">
                        If you are being harassed or notice that someone else is being harassed, or have any other concerns, please reach out to us at <a href="mailto:coc@in.pycon.org" target="_blank" rel="noopener noreferrer" class="underline">coc@in.pycon.org</a> before, during or after the conference.
                    </p>
                    <p class="pt-2 text-md">
                        Feel free to contact a conference volunteer to find the Code of Conduct committee or directly reach out to the Code of Conduct committee and they will take your report and do the needful action. Volunteers will be wearing Volunteer badges and CoC committee will be wearing a special colour shirt to be able to easily identify them. Please be assured that any report/incident you shared with us will be highly confidential and will not leave outside the bounds of CoC committee members.
                    </p>
                    <p class="pt-2 text-md">
                        Contact any of the committee members. The Helpdesk can assist you in finding them at the venue.
                    </p>
                    <p class="pt-2 text-md">
                        For more information on how to report incidents and what to include in your report, please visit our <a href="/coc/coc-reporting" rel="noopener noreferrer" class="underline">Reporting Guide</a>. It provides clear instructions on the reporting process and the steps we take to address reported incidents.
                    </p>
                    <p class="pt-2 text-md">
                        We take every report seriously and are committed to creating a safe and welcoming environment for all attendees. Your cooperation helps us ensure a positive experience for everyone at PyCon India. Thank you for being proactive in maintaining the integrity of our community.
                    </p>
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>License</p>
                    <p class="pt-4 text-md">
                        This Code of Conduct is derived from
                    </p>
                    <ul class="pt-4 list-none space-y-4">
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>The Django Code of Conduct by the Django Software Foundation which is under a Creative Commons Attribution 3.0 Unported License.</span>
                        </li>
                        <li class="flex">
                            <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                            <span>The PSF Code of Conduct by Python Software Foundation which is under a Creative Commons Attribution 3.0 Unported License.</span>
                        </li>
                    </ul>
                    <p class="pt-4 text-md">
                        PyCon India Conference Code of Conduct is licensed under a Creative Commons Attribution 3.0 Unported License.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
