<div class="relative w-full h-auto bg-[#4E62F5] -pt-20">
    <img 
        src="{{ env.baseUrl }}img/hero-banner.png"
        alt="PyCon India 2025"
        class="w-full object-cover object-center"
    />
</div>
