<section class="relative flex items-center justify-center w-full h-auto bg-cover bg-center bg-no-repeat bg-black pt-28 pb-20 lg:py-32">
    <img
        src="/img/logo.png"
        alt="PyCon India 2025"
        class="relative top-2 lg:top-8 w-1/2 h-auto object-cover block"/>
</section>