{% from "components/button.njk" import button %}

<section class="bg-blue-600 text-white relative px-4 sm:px-20 md:px-40" id="sponsors">
    <div class="mx-auto py-16">
        <!-- Desktop image visible -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-10">
            <div>
                <h2 class="text-4xl font-extrabold mb-4">Event Sponsors</h2>
                <p class="text-white text-base mb-6">
                    PyCon India is completely driven by volunteers. Sponsoring the event helps to sustain and grow the conference as well as
                    the Community. Sponsor help in making the conference affordable, and maintaining the inventory for the conference.
                </p>
                {{ button(text="Download Prospectus", url="PyConIndia2025SponsorshipBrochure.pdf", lime_bg=true, env = env) }}
            </div>
            <!-- Desktop image -->
            <div class="hidden md:flex justify-end -mt-72">
                <img 
                    src="{{ env.baseUrl }}img/landing/sponsor-sec.svg" 
                    alt="Mascot on Bicycle" 
                    class="w-72 relative transition-all duration-300 animate-bounce-slow hover:animate-wiggle"
                />
            </div>
        </div>
    </div>
    {# <div class="max-w-7xl mx-auto px-2 sm:px-6 pb-10 grid gap-4 sm:gap-10 text-black">
        {% set sponsors = {
        "PLATINUM": 3,
        "GOLD": 5,
        "SILVER": 5,
        "ASSOCIATE": 2
        } %}
        {% for tier, count in sponsors %}
            <div>
                <div class="bg-white inline-block px-4 sm:px-8 py-2 font-bold text-base sm:text-lg shadow uppercase">
                    {{ tier }}
                </div>
                <div class="grid grid-cols-5 bg-transparent overflow-x-auto">
                    {% for i in range(0, count) %}
                        <div class="h-16 sm:h-20 bg-white border border-gray-300 flex items-center justify-center min-w-24">
                            <span class="text-xs font-medium text-gray-400">Logo {{ i + 1 }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div> #}
    
    <!-- Mobile image -->
    <div class="md:hidden flex justify-center pb-10">
        <img 
            src="/img/landing/sponsor-sec.svg" 
            alt="Mascot on Bicycle" 
            class="w-48 relative transition-all duration-300 animate-float"
        />
    </div>
</section>
