---
title: Call For Proposals
description: Call For Proposals for PyCon India 2025
layout: base.njk
---

{% from "components/button.njk" import button %}
{% from "components/card.njk" import card %}
{% from "components/flat-card.njk" import flatCard %}

<div class="w-full h-auto bg-pycon-blue -mb-24 px-[6%] flex flex-col md:flex-row">
    <div class="pt-32 pb-8 md:pb-32 w-full lg:w-[70%]">
        <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#FFFFFF] text-center lg:text-left">
            Call For Proposals
        </div>
        <div class="text-md lg:text-xl pt-12 text-[#FFFFFF] lg:pr-10 text-justify">
            <p>Join us for the 16th edition of PyCon India, the premier Python conference in India, scheduled for September 12-15, 2025, in Bengaluru. Whether you use Python professionally, as a hobby, or are simply passionate about Python and its community, we'd love to hear from you and invite you to submit proposals for Talks and Workshops.</p>
        </div>
    </div>
    <div class="lg:w-[30%] w-[80%] lg:mt-60 flex items-center justify-center mx-auto">
        <img src="{{ env.baseUrl }}img/assets/laptop.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
        <img src="{{ env.baseUrl }}img/assets/filter-coffee.svg" alt="Guide" class="w-[40%] lg:w-[60%] transition-transform duration-100" style="animation: floating 2s ease-in-out infinite;">
    </div>
</div>

<div class="absolute top-2/5 right-4 md:block">
    <img src="{{ env.baseUrl }}img/assets/star-lime-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
</div>

<div class="absolute md:top-3/4 pt-52 md:right-20 right-12 md:block">
    <img src="{{ env.baseUrl }}img/assets/star-pink-vector.svg" alt="Groovy star" class="md:w-16 md:h-16 w-10 h-10">
</div>

<div class="main-container pt-16 md:pt-48 bg-[#FFFFFF] w-full h-auto px-[6%]">
    <div class="pb-40 md:pb-60 lg:pb-[20%] w-full text-justify lg:w-[70%]">
        <div class="mt-24 md:-mt-32 lg:-mt-20 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Important Dates</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Submission Open:</span> 20 February 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Submission Deadline:</span> 18 May 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Schedule Announcement:</span> 7 July 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Workshops:</span> 12 September 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Talk Presentations:</span> 13-14 September 2025</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">DevSprint:</span> 15 September 2025 <i>(Details to follow)</i></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Venues</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Workshops:</span> To be announced</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Talk Presentations:</span> NIMHANS Convention Centre, Bengaluru</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">DevSprint:</span> To be announced</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Submit Your Proposal</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Submit your proposal for a Talk or Workshop at PyCon India 2025.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>We welcome speakers from diverse backgrounds to share their knowledge and insights.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Choose a category – Talk (30 min) or Workshop (3 hours).</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>Review the submission guidelines before submitting your proposal.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span>For any questions regarding the CFP process, please email <a href="mailto:cfp@in.pycon.org" class="underline text-pycon-blue">cfp@in.pycon.org</a></span>
                    </li>
                </ul>
                <div class="flex justify-center pt-8">
                    {{ button(text="Submit a Proposal", url="https://cfp.in.pycon.org/2025/cfp", lime_bg=true, env = env) }}
                </div>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Session Types</p>
            </div>
            <div class="pt-8">
                <div class="pt-8">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Talks</p>
                    <div class="pt-4 text-md">
                        <ul class="list-none pl-6 space-y-3">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Technical Talks are 30-minute sessions (25 min talk + 5 min Q&A)</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Cover any Python-related topic and share valuable insights</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Share real-world experiences, new ideas, and best practices in Python</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Discuss challenges, solutions, and contributions to the Python ecosystem</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Provide practical knowledge, innovative approaches, or industry trends</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Refer to the submission categories for more details</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pt-16">
                    <p class="text-2xl font-bold flex items-center"><span><img src="{{ env.baseUrl }}img/assets/square-lime.svg" alt="Bullet Icon" class="w-5 mr-2"></span>Workshops</p>
                    <div class="pt-4 text-md">
                        <ul class="list-none pl-6 space-y-3">
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Workshops are 3-hour hands-on sessions for interactive learning</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Focus on practical implementation and guide participants through real-world applications</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Include live coding, exercises, and problem-solving to enhance learning</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Cover tools, frameworks, best practices, or advanced techniques in Python</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Encourage collaboration, experimentation, and active participation</span>
                            </li>
                            <li class="flex">
                                <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                <span>Refer to the submission categories for more details</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Categories</p>
            </div>
            <div class="pt-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div>
                        {% call flatCard(bg="lime") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Python Core & Performance</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Fundamental Python concepts like language runtime, AST, standard library, etc.</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Deep dive into Python internals and memory management</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Performance improvements using Cython, PyPy, etc.</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="purple") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">AI, ML & Data Science</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Generative AI, LLMs, multimodal AI, and reinforcement learning</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>ETL, Real-time analytics, and business intelligence</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Applications of AI in automation, NLP, and computer vision</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="purple") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Python for Cloud, DevOps & Infrastructure</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Cloud native applications with AWS, GCP, and Azure</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Kubernetes, Terraform, and Infrastructure as Code (IaC)</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>CI/CD automation and serverless computing</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="lime") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Web, Desktop & Full-Stack Development</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Building APIs & web applications using gRPC, FastAPI, Django, etc.</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Desktop App Development – GUI frameworks like PyQt, Tkinter, etc.</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="lime") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Python for Hardware, Edge Computing & IoT</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>MicroPython, CircuitPython, and real-time embedded systems</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Robotics, automation, and IoT applications</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="purple") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Python in Research & Education</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>High-performance computing in physics, chemistry, and climate modeling</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Python in medical research and educational applications</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="purple") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Community</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Cultural aspects & societal influence of Python</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Ethical considerations in technology</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Career growth, mentorship & developer well-being</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                    <div>
                        {% call flatCard(bg="lime") -%}
                            <div class="p-4">
                                <p class="text-xl font-bold">Others</p>
                                <ul class="list-none pt-4 space-y-2">
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Emerging tech – quantum computing, blockchain, etc.</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Python's role in sustainability & green computing</span>
                                    </li>
                                    <li class="flex">
                                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                                        <span>Python in FinTech & algorithmic trading and more</span>
                                    </li>
                                </ul>
                            </div>
                        {%- endcall %}
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Submission Guidelines</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Originality:</span> Proposals must be original and not previously presented at PyCon India.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Diversity:</span> We encourage submissions from individuals of all backgrounds, including those from underrepresented groups in technology.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Multiple Submissions:</span> Speakers may submit multiple proposals; however, each proposal should be distinct.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Language:</span> All proposals must be submitted in English.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-lime.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Reference:</span> Review the <a href="https://in.pycon.org/cfp/2024/proposals/" class="underline text-pycon-blue">proposals from last year</a> for inspiration and guidance.</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Review Process</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <ul class="list-none space-y-4">
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Initial Screening:</span> Proposals will be reviewed for completeness and adherence to guidelines.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Internal Review:</span> A panel of experts will evaluate proposals based on relevance, clarity, and impact.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">External Review:</span> Selected proposals will undergo further evaluation by external reviewers.</span>
                    </li>
                    <li class="flex">
                        <img src="{{ env.baseUrl }}img/assets/circle-purple.svg" alt="Bullet Icon" class="w-4 h-4 mr-2 mt-1">
                        <span><span class="font-semibold">Final Selection:</span> Shortlisted speakers will be invited for rehearsal sessions before finalizing the schedule.</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Rehearsals</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <p>Shortlisted speakers are expected to participate in rehearsal sessions via teleconferencing. This process ensures that talks are well-prepared and fit within the allotted time.</p>
            </div>
        </div>

        <div class="pt-12 lg:pt-32 text-md lg:text-xl font-light">
            <div class="black-han-sans-regular font-normal text-3xl md:text-5xl md:text-center text-[#000000] text-center lg:text-left">
                <p>Code of Conduct</p>
            </div>
            <div class="pt-12 text-[#000000] lg:pr-10">
                <p>All participants must adhere to the <a href="{{ env.baseUrl }}coc" class="underline text-pycon-blue">PyCon India Code of Conduct</a>, ensuring a welcoming and inclusive environment for everyone.</p>
            </div>
        </div>
    </div>
</div>
