---
layout: base.njk
isFront: true
---

<main class="flex-grow">
  {% include "landing/hero-banner.njk" %}
  {% include "landing/hero.njk" %}
  {% include "landing/keynotes.njk" %}
  {% include "landing/sponsors.njk" %}
  {% include "landing/x-wall.njk" %}
</main>